<!DOCTYPE html>
<html lang="en">
<head>
  <title>SHEPalette</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="css/style.css" />
  <link rel="stylesheet" href="css/materialize.css" />
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card teal">
          <div class="card-content">
            <span class="card-title">Select your Skin color:</span>
            <div id="skin-container"></div>
          </div>
          <div class="card-action">
            <a href="#" class="waves-effect waves-light btn teal accent-2">Next</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card teal">
          <div class="card-content">
            <span class="card-title">Select your Hair color:</span>
            <div id="hair-container"></div>
          </div>
          <div class="card-action">
            <a href="#" class="waves-effect waves-light btn teal accent-2">Next</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card teal">
          <div class="card-content">
            <span class="card-title">Select your Eye color:</span>
            <div id="eyes-container"></div>
          </div>
          <div class="card-action">
            <a href="#" class="waves-effect waves-light btn teal accent-2">Next</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div id="palette-container"></div>
  </div>

  <script type="text/template" id="skin-template">
    <p>
      <input type="radio" name="skin-type" value="porcelain" id="porcelain" />
      <label for="porcelain">Porcelain</label>
    </p>
    <p>
      <input type="radio" name="skin-type" value="ivory" id="ivory" />
      <label for="ivory">Ivory</label>
    </p>
    <p>
      <input type="radio" name="skin-type" value="pink-beige" id="pink-beige" />
      <label for="pink-beige">Pink Beige</label>
    </p>
    <p>
      <input type="radio" name="skin-type" value="neutral-beige" id="neutral-beige" />
      <label for="neutral-beige">Neutral Beige</label>
    </p>
    <p>
      <input type="radio" name="skin-type" value="warm-beige" id="warm-beige" />
      <label for="warm-beige">Warm Beige</label>
    </p>
    <p>
      <input type="radio" name="skin-type" value="golden-brown" id="golden-brown" />
      <label for="golden-brown">Golden Brown</label>
    </p>
    <p>
      <input type="radio" name="skin-type" value="cool-brown" id="cool-brown" />
      <label for="cool-brown">Cool Brown</label>
    </p>
    <p>
      <input type="radio" name="skin-type" value="olive" id="olive" />
      <label for="olive">Olive</label>
    </p>
  </script>

  <script type="text/template" id="hair-template">
    <p>
      <input type="radio" name="hair-type" value="ash-blonde" id="ash-blonde" />
      <label for="ash-blonde">Ash Blonde</label>
    </p>
    <p>
      <input type="radio" name="hair-type" value="strawberry" id="strawberry" />
      <label for="strawberry">Strawberry</label>
    </p>
    <p>
      <input type="radio" name="hair-type" value="light-brown" id="light-brown" />
      <label for="light-brown">Light Brown</label>
    </p>
    <p>
      <input type="radio" name="hair-type" value="mousey-brown" id="mousey-brown" />
      <label for="mousey-brown">Mousey Brown</label>
    </p>
    <p>
      <input type="radio" name="hair-type" value="medium-brown" id="medium-brown" />
      <label for="medium-brown">Medium Brown</label>
    </p>
    <p>
      <input type="radio" name="hair-type" value="dark-brown" id="dark-brown" />
      <label for="dark-brown">Dark Brown</label>
    </p>
    <p>
      <input type="radio" name="hair-type" value="black" id="black" />
      <label for="black">Black</label>
    </p>
    <p>
      <input type="radio" name="hair-type" value="warm-grey" id="warm-grey" />
      <label for="warm-grey">Warm Grey</label>
    </p>
    <p>
      <input type="radio" name="hair-type" value="silver" id="silver" />
      <label for="silver">Silver</label>
    </p>
    <p>
      <input type="radio" name="hair-type" value="auburn" id="auburn" />
      <label for="auburn">Auburn</label>
    </p>
    <p>
      <input type="radio" name="hair-type" value="ash-grey" id="ash-grey" />
      <label for="ash-grey">Ash Grey</label>
    </p>
  </script>

  <script type="text/template" id="eyes-template">
    <p>
      <input type="radio" name="eyes-type" value="rich-hazel" id="rich-hazel" />
      <label for="rich-hazel">Rich Hazel or Dark Brown</label>
    </p>
    <p>
      <input type="radio" name="eyes-type" value="blue-green" id="blue-green" />
      <label for="blue-green">Blue Green or Bright Hazel</label>
    </p>
    <p>
      <input type="radio" name="eyes-type" value="grey" id="grey" />
      <label for="grey">Grey or Soft Blue</label>
    </p>
    <p>
      <input type="radio" name="eyes-type" value="topaz" id="topaz" />
      <label for="topaz">Topaz or Turquoise</label>
    </p>
    <p>
      <input type="radio" name="eyes-type" value="soft-hazel" id="soft-hazel" />
      <label for="soft-hazel">Soft Hazel or Turquoise</label>
    </p>
  </script>

  <script type="text/template" id="palette-template">
    <h1><%= skinColor %></h1>
    <h1><%= hairColor %></h1>
    <h1><%= eyeColor %></h1>
    <div id="clear-winter-details" class="details">
      Clear Winter
    </div>
    <div id="cool-winter-details" class="details">
      Cool Winter
    </div>
    <div id="deep-winter-details" class="details">
      DEEP WINTER
    </div>
    <div id="clear-spring-details" class="details">
      Clear Spring
    </div>
    <div id="warm-spring-details" class="details">
      Warm Spring
    </div>
    <div id="light-spring-details" class="details">
      Light Spring
    </div>
    <div id="light-summer-details" class="details">
      Light Summer
    </div>
    <div id="cool-summer-details" class="details">
      Cool Summer
    </div>
    <div id="soft-summer-details" class="details">
      Soft Summer
    </div>
    <div id="soft-autumn-details" class="details">
      Soft Autumn
    </div>
    <div id="warm-autumn-details" class="details">
      Warm Autumn
    </div>
    <div id="deep-autumn-details" class="details">
      Deep Autumn
    </div>
  </script>

  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script type="text/javascript" src="js/underscore-min.js"></script>
  <script type="text/javascript" src="js/backbone-min.js"></script>
  <script type="text/javascript" src="js/models/palette.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>
  <script type="text/javascript" src="js/app.js"></script>
</body>
</html>
