<!DOCTYPE html>
<html lang="en">
<head>
  <title>SHE Palette</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="css/style.css" />
  <link rel="stylesheet" href="css/bootstrap.min.css" />
</head>
<body>
  <div class="container-fluid">
    <div id="skin-container"></div>
    <div id="hair-container"></div>
    <div id="eyes-container"></div>
  </div>

  <div class="container-fluid">
    <div id="palette-container"></div>
  </div>

  <script type="text/template" id="skin-template">
    <label>Select your Skin color:</label>

    <label for="porcelain">
      <input type="radio" name="skin-type" value="porcelain" />
      Porcelain
    </label>
    <label for="ivory">
      <input type="radio" name="skin-type" value="ivory" />
      Ivory
    </label>
    <label for="pink-beige">
      <input type="radio" name="skin-type" value="pink-beige" />
      Pink Beige
    </label>
    <label for="neutral-beige">
      <input type="radio" name="skin-type" value="neutral-beige" />
      Neutral Beige
    </label>
    <label for="warm-beige">
      <input type="radio" name="skin-type" value="warm-beige" />
      Warm Beige
    </label>
    <label for="golden-brown">
      <input type="radio" name="skin-type" value="golden-brown" />
      Golden Brown
    </label>
    <label for="cool-brown">
      <input type="radio" name="skin-type" value="cool-brown" />
      Cool Brown
    </label>
    <label for="olive">
      <input type="radio" name="skin-type" value="olive" />
      Olive
    </label>
  </script>

  <script type="text/template" id="hair-template">
    <label>Select your Hair color:</label>

      <label for="ash-blonde">
        <input type="radio" name="hair-type" value="ash-blonde" />
        Ash Blonde
      </label>
      <label for="strawberry">
        <input type="radio" name="hair-type" value="strawberry" />
        Strawberry
      </label>
      <label for="light-brown">
        <input type="radio" name="hair-type" value="light-brown" />
        Light Brown
      </label>
      <label for="mousey-brown">
        <input type="radio" name="hair-type" value="mousey-brown" />
        Mousey Brown
      </label>
      <label for="medium-brown">
        <input type="radio" name="hair-type" value="medium-brown" />
        Medium Brown
      </label>
      <label for="dark-brown">
        <input type="radio" name="hair-type" value="dark-brown" />
        Dark Brown
      </label>
      <label for="black">
        <input type="radio" name="hair-type" value="black" />
        Black
      </label>
      <label for="warm-grey">
        <input type="radio" name="hair-type" value="warm-grey" />
        Warm Grey
      </label>
      <label for="silver">
        <input type="radio" name="hair-type" value="silver" />
        Silver
      </label>
      <label for="auburn">
        <input type="radio" name="hair-type" value="auburn" />
        Auburn
      </label>
      <label for="ash-grey">
        <input type="radio" name="hair-type" value="ash-grey" />
        Ash Grey
      </label>
  </script>

  <script type="text/template" id="eyes-template">
    <label>Select your Eye color: </label>

    <label for="rich-hazel">
      <input type="radio" name="eyes-type" value="rich-hazel" />
      Rich Hazel or Dark Brown
    </label>

    <label for="blue-green">
      <input type="radio" name="eyes-type" value="blue-green" />
      Blue Green or Bright Hazel
    </label>

    <label for="grey">
      <input type="radio" name="eyes-type" value="grey" />
      Grey or Soft Blue
    </label>

    <label for="topaz">
      <input type="radio" name="eyes-type" value="topaz" />
      Topaz or Turquoise
    </label>

    <label for="soft-hazel">
      <input type="radio" name="eyes-type" value="soft-hazel" />
      Soft Hazel or Turquoise
    </label>
  </script>

  <script type="text/template" id="palette-template">
    <h1><%= skinColor %></h1>
    <h1><%= hairColor %></h1>
    <h1><%= eyeColor %></h1>
    <div id="clear-winter-details" class="details">
      CLEAR WINTER
    </div>
    <div id="deep-winter-details" class="details">
      DEEP WINTER
    </div>
    <div id="autumn-winter-details" class="details">
      AUTUMN WINTER
    </div>
  </script>

  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script type="text/javascript" src="js/underscore-min.js"></script>
  <script type="text/javascript" src="js/backbone-min.js"></script>
  <script type="text/javascript" src="js/app.js"></script>
</body>
</html>
